<div class="col-md-5 ">
<h2>Upcoming Events</h2>
 <img src="http://extracoding.com/demo/html/help/images/resource/pic-1.jpg" style="width: 100%;height:100%" >
</div>
<div class="col-md-3" >
	<h2>Donate Now</h2>
	<span style="margin-left:10px;color:goldenrod;background-color:#777; margin-top:10px;">
	<p>quis nostrud exercitation ullamco laboris nisi</p>
	<p>79% Raised</p>
</span>
</div>

<div class="col-md-12" style="background-color:#333;">
 <div class="col-md-3">
 <h1 style="color:white;">Recent Posts <i class="fas fa-archway"></i></h1><br>
<img style="float:left;" src="http://extracoding.com/demo/html/help/images/resource/thumbs/xpost-thumb-1.jpg.pagespeed.ic.AnYwUuKtLH.webp">
<span style="color:white;margin-top:-20px;">Lorem ipsum dolor sit amet</span><br>
<span style="color:#666;">From the isand-studded seas of the<br>north  to the meandering the...</span><br>
 <img style="margin-top: 20px;margin-left:-46px;" src="http://extracoding.com/demo/html/help/images/resource/thumbs/xpost-thumb-2.jpg.pagespeed.ic.ok04X3GlBC.webp"><span
  style="color:white;margin-top:-20px;">Lorem ipsum dolor sit amet</span><br><span style="color:#666;">From the isand-studded seas of the<br>north  to the meandering the...</span><br>
 <img style="float:left;" src="http://extracoding.com/demo/html/help/images/resource/thumbs/xpost-thumb-3.jpg.pagespeed.ic.cTuxuFXAGZ.webp"><span style="color:white;
 margin-top:-20px;">Lorem ipsum dolor sit amet</span><br><span style="color:#666;">From the isand-studded seas of the<br>north  to the meandering the...</span></div>
 <div class="col-md-3">
 	<h1 style="color:white;">Gallery <i class="fa fa-photo" style="color: white"></i></h1>
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;
 	height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;"><br>
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;
 	height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;"><br>
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;
 	height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;"><br>
 </div>
 <div class="col-md-3">
 	<h1 style="color:white;">Contact Us</h1>
 	<p style="color:white;">Vel arcu in nec porttitor aliquam tempor platea, turpis? Ridiculus<br> nascetur dignissim amet ac.</p><br>
<span style="color:#777;">Vel arcu in nec porttitor aliquam tempor platea, turpis? Ridiculus nascetur dignissim amet ac scelerisque facilisis etiam sed odio rhoncus, pellentesque nisi aenean vel. Sed a etiam in, non, velit ac cum in, magna, nisi ultrices, porta odio duis, urna tincidunt ac dis ultricies sit, lorem montes facilisis. Est, scelerisque, nisi ultrices, porta odio duis, urna tincidunt ac dis ultricies sit, lorem montes facilisis.</span>
 </div>
 <div class="col-md-3">
 	<h1 style="color:white;">Newsletter</h1>
 	<p style="color:#777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
 	<input style="color:#777;" type="email" name="email" placeholder="Email Address"> 
 	<button class="btn btn-danger btn-lg" style="margin-top:20px;">SUBSCRIBE</button>
 </div>
</div>