.items ul li {
	list-style-type: none;
	color:blue;
	font-size: 20px;
	padding: 20px 22px;
	text-transform: uppercase;
}
 ul li>a{
	text-decoration: none;
	color:white;
}
.logo{
	color:white;
	padding:10px;

}
.logo:hover{
	color:red;
   
}
 ul li>a:hover{
   background-color: black;
}

