<!DOCTYPEhtml>
<html>
<head>
  <title></title>
</head>
<body>
	<div class="banner col-md-12">
<h1>Blog</h1><br>
<a href="home">Home></a>
<a href="gallery">Gallery></a>
</div>
<div class="col-md-12">
<h1 style="color:#333;margin-left:10px;">Gallery</h1>
<div class="card-deck">
	<div class="col-md-4">
  <div class="card" style="padding:10px;  margin:0px;">
    <img class="card-img-top" src="./img-6.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>
<div class="col-md-4">
<div class="card" style="padding:10px; margin:0px;">
    <img class="card-img-top" src="http://extracoding.com/demo/html/help/images/resource/img-2.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="padding:10px; margin:0px;">
    <img class="card-img-top" src="http://extracoding.com/demo/html/help/images/resource/img-3.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="padding:10px; margin:0px;">
    <img class="card-img-top" src="http://extracoding.com/demo/html/help/images/resource/img-4.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="padding:10px; margin:0px;">
    <img class="card-img-top" src="http://extracoding.com/demo/html/help/images/resource/img-5.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="padding:10px; margin:0px;">
    <img class="card-img-top" src="./img-6.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="padding:10px; margin:0px;">
    <img class="card-img-top" src="http://extracoding.com/demo/html/help/images/resource/img-7.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="padding:10px; margin:0px;">
    <img class="card-img-top" src="http://extracoding.com/demo/html/help/images/resource/img-5.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>
<div class="col-md-4">
    <div class="card" style="padding:10px; margin:0px;">
    <img class="card-img-top" src="http://extracoding.com/demo/html/help/images/resource/img-4.jpg" style="width:100%;height:200px;" alt="Card image cap">
    </div>
</div>


  <!-- <div class="card">
    <img class="card-img-top" src="./img-2.jpg" alt="Card image cap">
   </div>
  <div class="card">
    <img class="card-img-top" src="./img-3.jpg" alt="Card image cap">
    </div> -->
   </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" style="margin-left:40px;">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">First></a>
    </li>
    <li class="page-item"><a class="page-link" href="#"><</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">></a></li>
    <li class="page-item">
    	<a class="page-link" href="#">Last></a>
    </li>
  </ul>
</nav>
<div class="col-md-12" style="background-color:#333;">
 <div class="col-md-3">
 <h1 style="color:white;">Recent Posts</h1><br>
<img style="float:left;" src="http://extracoding.com/demo/html/help/images/resource/thumbs/xpost-thumb-1.jpg.pagespeed.ic.AnYwUuKtLH.webp">
<span style="color:white;margin-top:-20px;">Lorem ipsum dolor sit amet</span><br>
<span style="color:#666;">From the isand-studded seas of the<br>north  to the meandering the...</span><br>
 <img style="margin-top: 20px;margin-left:-46px;" src="http://extracoding.com/demo/html/help/images/resource/thumbs/xpost-thumb-2.jpg.pagespeed.ic.ok04X3GlBC.webp"><span
  style="color:white;margin-top:-20px;">Lorem ipsum dolor sit amet</span><br><span style="color:#666;">From the isand-studded seas of the<br>north  to the meandering the...</span><br>
 <img style="float:left;" src="http://extracoding.com/demo/html/help/images/resource/thumbs/xpost-thumb-3.jpg.pagespeed.ic.cTuxuFXAGZ.webp"><span style="color:white;
 margin-top:-20px;">Lorem ipsum dolor sit amet</span><br><span style="color:#666;">From the isand-studded seas of the<br>north  to the meandering the...</span></div>
 <div class="col-md-3">
 	<h1 style="color:white;">Gallery</h1>
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;
 	height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;"><br>
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;
 	height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;"><br>
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;
 	height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;">
 	<img src="http://extracoding.com/demo/html/help/images/resource/thumbs/xgallery-thumb-5.jpg.pagespeed.ic.48U50dnL_V.webp" style="width:20%;height:20%;margin:5px;"><br>
 </div>
 <div class="col-md-3">
 	<h1 style="color:white;">Contact Us</h1>
 	<p style="color:white;">Vel arcu in nec porttitor aliquam tempor platea, turpis? Ridiculus<br> nascetur dignissim amet ac.</p><br>
<span style="color:#777;">Vel arcu in nec porttitor aliquam tempor platea, turpis? Ridiculus nascetur dignissim amet ac scelerisque facilisis etiam sed odio rhoncus, pellentesque nisi aenean vel. Sed a etiam in, non, velit ac cum in, magna, nisi ultrices, porta odio duis, urna tincidunt ac dis ultricies sit, lorem montes facilisis. Est, scelerisque, nisi ultrices, porta odio duis, urna tincidunt ac dis ultricies sit, lorem montes facilisis.</span>
 </div>
 <div class="col-md-3">
 	<h1 style="color:white;">Newsletter</h1>
 	<p style="color:#777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
 	<input style="color:#777;" type="email" name="email" placeholder="Email Address"> 
 	<button class="btn btn-danger btn-lg" style="margin-top:20px;">SUBSCRIBE</button>
 </div>
</div>
</body>
</html>